@import url(https://fonts.googleapis.com/css?family=Lato);
/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
	font-family: "Lato",sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*--------Header Area--------*/
* {
	color:#cccccc;
	background:;
}

.header_color {
	background-color:#232b38;
}

.btn {
	margin-top: 60px;
	height: 55px;
	width: 100px;
	border: solid 2px #3a4b4e;
	outline: none;
	overflow: hidden;
	border-radius: 5px;
	transition: 0.9s;
}

.bp {
	background: -webkit-linear-gradient(0deg,transparent 50%,#3a4b4e 50%);
	background-size: 200px 55px;
}

.bp:hover {
	background-position: 100px 0;
}

.btn a {
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	color: #cccccc;
	outline: none;
	overflow: hidden;
	display: block;
	padding: 5px;
	transition: 0.25s;
}

.img-position {
	text-align:center;
	align-items: center;
	justify-content: center;
}

.img{ 
	margin-top: 50px;
	width: 260px;
	margin-right: 100px;
}

.img:hover {
	
}

.text h2{
	margin-top: 120px;
	font-size: 50px;
	font-family:sans-serif;
	color: #cccccc;
}

.text p {
	font-size: 21px;
	font-family: sans-serif;
	text-align: ;
}

.text{
	color:#cccccc;
}

.hm {
	border: 2px solid #3a4b4e;
	height: 50px;
	width: 100px;
	border-radius: 5px;
	text-align: center;
	padding: 8px;
	float: right;
	margin-right: 34px;
    margin-top: 40px;
	transition: .9s;
}

.hm:hover {
	background-color:#3a4b4e;
	cursor: pointer;
}

.hm {
	text-decoration: none;
	font-size: 20px;
	outline: none;
	overflow: hidden;
	text-align: center;
	color: #cccccc;
}

.container {
	padding-bottom: 60px;
}



/*--------About me Area--------*/
.about_me {padding-bottom: 30px;}
.about_me {
	background-color:#232b38;
}
 
/*-----Icon Style-----*/
.education img, .aim_hobby img{
	border: 2px solid #adadad;
	padding: 15px;
	border-radius: 100%;
	margin-top: 15px;
	background-size: 100px;
	height: 100px;
	width: 100px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

/*-----Button Style-----*/
 .amb a{font-size: 16px;}
 .amb {text-align:center; align-items:center; justify-content:center; padding: 8px;}
 .amb {
	background: -webkit-linear-gradient(0deg,transparent 50%,#3a4b4e 50%);
	background-size: 200px 55px;
}
.amb:hover {
	background-position: 100px 0;
}
 
 .hmb a{font-size: 16px;}
 .hmb {text-align:center; align-items:center; justify-content:center; padding: 8px;}
 .hmb {
	background: -webkit-linear-gradient(0deg,transparent 50%,#3a4b4e 50%);
	background-size: 200px 55px;
}
.hmb:hover {
	background-position: 100px 0;
}

/*-----Education Style-----*/

.education,.aim_hobby {
	font-family:arial;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
	border: 1px solid #3a4b4e;
	padding: 20px;
	padding-top: 5px;
	width: 422px;
	transition: .5s;
}

.education, .aim_hobby p{
	font-size: 16px;
}
.education h2, .aim_hobby h2{
	padding-bottom: 10px;
	margin-top: 10px;
}
.education:hover, .aim_hobby:hover {
		box-shadow: 20 30 10px rgba(55,34,35,.0);
		transform: translateY(-10px);
		box-shadow: 0 15px 35px rgba(0,0,0.5);
		color: white;
}


.brms{
	text-align: center;
	width:422px;
	height: 55px;
}
.brm {
	background:transparent;
	width:422px;
	height:55px;
	color: #cccccc;
	text-align: center;
    margin-top: 20px;
	border: 1px solid #3a4b4e;
}	
.brm a{
	font-size:15px;
	padding:5px;
}
.brm:hover {
	background: #3a4b4e;
	border-color:#3a4b4e;
}
		
/*-----Experience Area-----*/

 /*----Button Style----*/
 .be {
	 background: -webkit-linear-gradient(0deg, transparent 50%, #3a4b4e 50%);
	 background-size: 200px 55px;
 }
 .be:hover {
	 background-position: 100px 0;
 }
 .be a {
	 font-size: 13px;
	 padding: 5px;
 }

/*----Skills Style----*/
.experience {
	background: #232b38;
}
.cc{
	margin-top: 140px;
	
}
.c {
	position: relative;
	width:700px;
	margin-left: 110px;
}

.skills {
	position: relative;
	display:flex;
	margin: 20px 0;
	padding: 24px 10px 18px;
	background: #232B3C;
	border-radius: 8px;
	overflow: hidden;
	transition: 0.5s;
	border: 1px solid #3a4b4e;
}
.skills:hover {
	box-shadow: 20 30 10px rgba(55,34,35,.0);
	transform: translateY(-10px);
	box-shadow: 0 15px 35px rgba(0,0,0.5);
	color: white;
}

.skills:before{
	content: '';
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	z-index: 10;
}

.name{
	position:relative;
	text-align: right;
	text-transform: uppercase;
	width:110px;
	font-size: 15px;
	
}

.value{
	position:relative;
	text-align: left;
	width:40px;
	text-transform: uppercase;
	
}

.percent {
	position:relative;
	width: calc(100% - 150px);
	height: 20px;
	margin: 0 10px;
	border-radius: 10px;
	background: #151515;
	box-shadow: inset 0 0 10px #000;
}

.progress1 {
	height: 100%;
	width: 95%;
	position: absolute;
	top:0;
	left: 0;
	border-radius: 10px;
	background: #3a4b4e;
	box-shadow: inset 0 0 2px #000;
	animation: animate 4s ease-in-out forwards;
}
@keyframes animate{
	from {
		width: 0;
	}
}

/*-----Service Area-----*/
.service_bg {background: #232b38;}

/*-----Icon Style-----*/
.service_content img {
	border-bottom: 3px solid #adadad;
	padding: 10px;
	background-size: 100px;
	height: 100px;
	width: 100px;
}
 /*----Button Style----*/
 .bs {
	 background: -webkit-linear-gradient(0deg, transparent 50%, #3a4b4e 50%);
	 background-size: 200px 55px;
 }
 .bs:hover {
	 background-position: 100px 0;
 }
 .bs a {
	 font-size: 15px;
 }
 /*-----Content Area-----*/
 .service_content {
	font-family:arial;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
	border: 1px solid #3a4b4e;
	padding: 20px;
	padding-top: 5px;
	width: 465px;
	transition: .5s;
	background: #232b38;
}

.service_content p{
	font-size: 16px;
}

.service_content:hover{
		transform: translateY(-10px);
		box-shadow: 0 15px 35px rgba(0,0,0.5);
		color: white;
}
.service_content h2 {
	padding-bottom: 10px;
	margin-top: 15px;
}

.service_content a {
	text-decoration: none;
}
.service_content a:hover {
	color: red;
}
/*-----Button Read More-----*/
.brm_sec{
	text-align: center;
	width:465px;
	height: 55px;
}
.bsrm {
	background:transparent;
	width:460px;
	height:55px;
	color: #cccccc;
	text-align: center;
    margin-top: 20px;
	border: 1px solid #3a4b4e;
}	
.bsrm a{
	font-size:15px;
	padding:5px;
}
.bsrm:hover {
	background: #3a4b4e;
	border-color:#3a4b4e;
}

/*-----Contact Area-----*/
.contact_me_bg {background: #232b38}

/*-----Button Style-----*/
 .bcm {
	 background: -webkit-linear-gradient(0deg, transparent 50%, #3a4b4e 50%);
	 background-size: 200px 55px;
 }
 .bcm:hover {
	 background-position: 100px 0;
 }
.bcm a{
	font-size:13.2px;
}

/*-----Input Style-----*/

.contact_input {
	margin:0 auto;
	padding: 0;
}
.contact_input_tbl {
	margin:0 auto;
	padding:0;
	margin-top: 150px;
}
.input_submit{
	float: right;
}
.input_name, .input_email,.input_submit {
	margin-left: px;
}
.input_name, .input_email{
	border: 1px solid #3a4b4e;
	width: 350px;
	padding: 10px;
	margin-top: 30px;
	outline: none;
	overflow: hidden;
	border-radius: 8px;
	transition: .9s;
}

.input_submit {
		padding: 10px;
	margin-top: 30px;
	outline: none;
	overflow: hidden;
	border-radius: 8px;
	transition: .9s;
	border: 1px solid #3a4b4e;
	
	width: 459px;
	}

.input_submit:hover {
	background:#3a4b4e;
}

.contact_textarea textarea, .input_name, .input_email, .input_submit {background: #232b38;}
.contact_textarea {
	align-items: center;
	margin: 0 auto;
	outline: none;
	margin-top: 180px;
}
.contact_textarea textarea {
	border: 1px solid #3a4b4e;
	outline: none;
	height: 178px;
    width: 459px;
	border-radius: 8px;
	padding: 10px;
}
.contact_me_bg {border-bottom: 1px solid #3a4b4e;}
/*-----Copyright Area-----*/

.spans_text span{
	margin: 0 auto;
}

.social_icon_bg {background:#333333;}
.fb, .tw, .in, .yt, .ld, .gp {
	margin-left: 8px;
}
.social_icon {
	margin-top: 20px;
	margin-bottom: 20px;
}
.copyright_bg {background: #333333;}

/*===== Project Page Design ======*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
